.span-compare {
	position: relative;
	height: fit-content;
}
.span-compare > div {
/*	white-space: pre-line;*/
}

.span-compare > div:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;

}

.span-compare div:first-child span.hi {
/*    background-color: rgba(240, 230, 105, 0.39);*/
text-decoration: yellow underline;
text-underline-offset: 2px;
/*    border: 1px solid yellow;*/
}

.span-compare div:nth-child(n+2) {
	color: transparent;
}
.span-compare div:nth-child(2) span.hi {
/*   	background-color: rgba(141, 210, 243, 0.39);*/
	text-decoration: cyan wavy underline;   	
     text-underline-offset: 4px;	
}
.span-compare div:nth-child(3) span.hi {
	text-decoration: blue wavy underline;   	
    text-underline-offset: 4px;	
}
.span-compare div:nth-child(4) span.hi {
	text-decoration: green wavy underline;   	
    text-underline-offset: 4px;	
}
.span-compare div:nth-child(5) span.hi {
	text-decoration: orange wavy underline;   	
    text-underline-offset: 4px;	
}